# Testing.
TEST_MODE=FALSE

# Connection Configuration.
SERVER=http://server:5000

USERNAME=Player
WT_LOCALHOST=http://localhost:8111
LOCAL_MAP_PORT=16222

# Authentication & Encryption.
ENCRYPTION_SEED=seed
SESSION_PASSWORD=password

PRIVATE_KEY_PATH=filepath
PRIVATE_KEY_PASSWORD=password